<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="APIKey" value="" />
    <add key="APISecret" value="" />
    <add key="DBConnection" value="Server=[SERVER-NAME];UID=[USERNAME];PWD=[PASSWORD];Timeout=120;Enlist=false;;Database=Trello;" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime executionTimeout="6000" maxRequestLength="2147483647" maxQueryStringLength="2097151" requestValidationMode="2.0" enableVersionHeader="false"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
